# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
/.vs/soundBoard2/FileContentIndex/1095eb80-fdee-40ac-96d1-cd3c7c37b8fd.vsidx
/.vs/soundBoard2/FileContentIndex/07c67951-f0bb-4038-945b-6a27f87166fa.vsidx
/.vs/soundBoard2/FileContentIndex/163ec3dc-d9ea-4867-8476-5bca5d9cc3f8.vsidx
/.vs/soundBoard2/FileContentIndex/ada76e60-b36d-4e86-8f83-fc5d47d26c4a.vsidx
/.vs/soundBoard2/FileContentIndex/dcb20327-a5ed-465a-aeab-1cf65a304af6.vsidx
/.vs/soundBoard2/FileContentIndex/6cb1329b-92dc-4da5-a226-b0fcdadb4df3.vsidx
/.vs/soundBoard2/FileContentIndex/3d82773c-03a2-480d-ab36-843aa1193aa2.vsidx
/.vs/soundBoard2/FileContentIndex/0bb778e0-2194-4990-9b63-53f4aeb29d2d.vsidx
/.vs/soundBoard2/FileContentIndex/8ff89bd1-2ee2-4938-900e-552a8cba16c6.vsidx
/.vs/soundBoard2/FileContentIndex/d23a6ea9-a9d2-4de4-b6f4-35c6745c9d71.vsidx
